!/bot/build-urls/README.md
!/bot/builds/README.md
!/bot/cache/README.md
!/bot/env.yaml
!/bot/inputs/crash-stacks/README.md
!/bot/inputs/data-bundles/README.md
!/bot/inputs/fuzzer-common-data-bundles/README.md
!/bot/inputs/fuzzer-testcases/README.md
!/bot/inputs/fuzzer-testcases-disk/README.md
!/bot/inputs/fuzzers/README.md
!/bot/inputs/images/README.md
!/bot/inputs/symbols/README.md
!/bot/inputs/user-profile-dirs/README.md
!/bot/logs/README.md
*.iml
*.pyc
.idea
/.project
/.pydevproject
/ENV
/bot/*
/coverage
/deployment
/local/bin/android-sdk/*
/local/storage
/paramiko.log
/src/appengine/app.yaml
/src/appengine/cron-service.yaml
/src/appengine/cron.yaml
/src/appengine/staging.yaml
/src/appengine/config
/src/appengine/local_gcs
/src/appengine/private/bower_components
/src/appengine/protos
/src/appengine/python
/src/appengine/resources/clusterfuzz-source.manifest
/src/appengine/templates
/src/appengine/third_party
/src/go/server/config
/src/go/server/go-cron-service.yaml
/src/local/remote/generated.remmina
/src/protos/ENV
/src/third_party
_test_data
bazel-*
