[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==3.4.8"
crcmod = "==1.7"
protobuf = "==3.20.3"
psutil = "==5.9.5"

[dev-packages]
Fabric = "==1.14.1"
grpcio-tools = "==1.56.0"
gunicorn = "*"
isort = "*"
nodeenv = "==1.0.0"
parameterized = "==0.9.0"
paramiko = "==2.6.0"
pipenv = "==2022.8.5"
pyfakefs = "==4.4.0"
pylint = "~=2.4"
selenium = "==3.141.0"
twine = "*"
WebTest = "==3.0.0"
yapf = "==0.22.0"
