[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cryptography = "==3.4.8"
crcmod = "==1.7"
protobuf = "==3.20.3"
psutil = "==5.7.0"

[dev-packages]
Fabric = "==1.14.1"
Flask = "==1.1.2"
grpcio-tools = "==1.38.0"
gunicorn = "*"
isort = "*"
jira = "==2.0.0"
nodeenv = "==1.0.0"
parameterized = "==0.6.1"
paramiko = "==2.6.0"
pipenv = "==2022.8.5"
pyfakefs = "==4.4.0"
pygithub = "==1.55"
pylint = "~=2.4"
python-dateutil = "==2.8.1"
selenium = "==3.141.0"
sendgrid = "==6.0.4"
twine = "*"
WebTest = "==2.0.23"
yapf = "==0.22.0"
