[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "==1.12.0"
crcmod = "==1.7"
future = "==0.17.1"
protobuf = "==3.11.3"
psutil = "==5.7.0"
numpy = "==1.18.4"
tensorflow = "==2.3.0"
pytorch = "==1.4.0"
gym = "==0.17.2"

[dev-packages]
pylint = "~=2.4"
pyfakefs = "==3.4.3"
mock = "==2.0.0"
parameterized = "==0.6.1"
gunicorn = "*"
paramiko = "==2.6.0"
grpcio-tools = "==1.28.1"
WebTest = "==2.0.23"
nodeenv = "==1.0.0"
yapf = "==0.22.0"
Fabric = "==1.14.1"

[requires]
python_version = "3.7"
