antlr4-python2-runtime==4.7.2
# TODO(aarya): Remove backports.lzma after python 3 migration.
backports.lzma==0.0.13; sys_platform != 'win32'
configparser==3.7.4
firebase-admin==2.16.0
future==0.17.1
google-api-python-client==1.7.4
google-auth==1.8.1
google-auth-oauthlib==0.2.0
google-cloud-datastore==1.7.0
google-cloud-monitoring==0.30.1
google-cloud-profiler==1.0.3
google-cloud-storage==1.13.2
grpcio==1.15.0
httplib2==0.11.3
mozprocess==1.0.0
oauth2client==4.1.3
protobuf==3.6.1
pytz==2018.5
PyYAML==5.1
redis==3.3.11
requests==2.21.0
requests-toolbelt==0.9.1
selenium==3.141.0
sendgrid==6.0.4
